AZURE_STORAGE_CONNECTION_STRING=your_connection_string_here
AZURE_RESULTS_CONTAINER=results
AZURE_INCOMING_CONTAINER=incoming
AZURE_CLEANSED_CONTAINER=cleansed
DEFAULT_SENSITIVITY=medium
ALERT_SCORE_THRESHOLD=70